@model StephanieJay.Classes.Bio      
@{
    ViewBag.Title = "Admin - Bio";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span9">
        <div class="box">
            <h2>Edit Bio</h2>
            <ul class="box-item-bag">
            @using (Html.BeginForm("Index", "Bio", Model, FormMethod.Post, new { Class = "form-horizontal" }))
            {
                <li class="box-item">
                    <div><span>@Html.TextAreaFor(x => x.description)</span></div>
                    <div class="clear"></div>
                </li>

                <li class="box-item">
                    <button type="submit" class="btn btn-primary"> Save</button>
                </li>
            }
            </ul>
        </div>
	</div>
</div>