@{
    ViewBag.Title = "Admin";
}
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span9">
        <div class="box">
            <h2>Admin</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <h3><a href="/Admin/Welcome">Edit Welcome Message</a></h3>
                </li>
                <li class="box-item">
                    <h3><a href="/Admin/News">Edit News</a></h3>
                </li>
                <li class="box-item">
                    <h3><a href="/Admin/Bio">Edit Bio</a></h3>
                </li>
                <li class="box-item">
                    <h3><a href="/Admin/Gigs">Edit Gigs</a></h3>
                </li>
            </ul>
        </div>
	</div>
</div>