@model List<RSS.Item>
           
@{
    ViewBag.Title = "Gigs";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span9">
        <div class="box">
            <h2>Edit Gigs</h2>
            <ul class="box-item-bag">

@foreach (var gigs in Model)
{
                <li class="box-item">
                    <h3>@news.title</h3>
                    <a href="@news.link">@news.link</a>
                    <div><span>@news.description</span></div>
                    <div class="btn-group right">
                        <a class="btn btn-primary" href="News/Edit/@news.guid"><i class="icon-edit"></i> Edit</a>
                        <a class="btn btn-danger" href="News/Delete/@news.guid"><i class="icon-minus"></i> Delete</a>
                    </div>
                    <div class="clear"></div>
                </li>
}

                <li class="box-item">
                    <a class="btn btn-success" href="News/Create"><i class="icon-plus"></i> Create</a>
                </li>
            </ul>
        </div>
	</div>
</div>