@{
    ViewBag.Title = "Admin";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
        <h2>Admin.</h2>
        <ul class="box-item-bag">
            <li class="box-item">
                @Html.ActionLink("Edit News", "EditNews", "Admin")
            </li>
        </ul>
        </div>
    </div>
</div>