@model List<RSS.Item>

@{
    ViewBag.Title = "News";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span9">
        <div class="box">
            <h2>Edit News</h2>
            <ul class="box-item-bag">
            @using (Html.BeginForm("Edit", "News", new { SearchModel = Model }, FormMethod.Get, new { Class = "form-horizontal" }))
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <li class="box-item">
                        <span>@Model[i].title</span><input onclick="@Url.Action("Edit", "News", new { Id = i })" title="Edit" type="submit" value="Edit" class="btn btn-primary"/>
                    </li>
                }
            }
            </ul>
        </div>
	</div><!-- form -->
</div>