@model IList<StephanieJay.Classes.News>

@{
    ViewBag.Title = "News";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
        <h2>Edit News.</h2>
        <ul class="box-item-bag">
        @foreach (var newsItem in Model)
        {
            <li class="box-item">
                <span>@newsItem.Title</span><input onclick="#" title="Edit" type="button" value="Edit" class="btn btn-primary"/>
            </li>
        }
        </ul>
        </div>
    </div>
</div>