@{
    ViewBag.Title = "Admin";
}
<div class="row-fluid">
    <div class="span2"></div>
    <div class="span9">
        <div class="box">
            <h2>Admin</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <h3>@Html.ActionLink("Edit Welcome Message", "Index", "Welcome")</h3>
                </li>
                <li class="box-item">
                    <h3><a href="/News">Edit News</a></h3>
                </li>
                <li class="box-item">
                    <h3><a href="/Bio">Edit Bio</a></h3>
                </li>
                <li class="box-item">
                    <h3><a href="/Gigs">Edit Gigs</a></h3>
                </li>
            </ul>
        </div>
	</div>
</div>