@model StephanieJay.Classes.WelcomeMessage      
@{
    ViewBag.Title = "Admin - Welcome Message";
}

<div class="row">
    <div class="span12 box">
        <h2>Edit Welcome Message</h2>
        <ul class="box-item-bag">
        @using (Html.BeginForm("Index", "Welcome", FormMethod.Post, new { Class = "form-horizontal" }))
        {
            <li class="box-item">
                <label>Title:</label>
                @Html.TextBoxFor(x => x.title)
            </li>
            <li class="box-item">
                <label>Message:</label>
                @Html.TextAreaFor(x => x.message, new { Class = "span12", Rows = "10" })
            </li>
            <li class="box-item">
                <input id="btnSubmit" type="submit" value="Save" class="btn btn-primary" />
            </li>
        }
        </ul>

	</div>
</div>