@model StephanieJay.ViewModels.BioViewModel

@{
    ViewBag.Title = "Bio";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
        <h2>Bio.</h2>
        <ul class="box-item-bag">
            <li class="box-item" style="white-space:pre-wrap">@Model.Bio.description</li>
        </ul>
        </div>
    </div>
</div>