@{
    ViewBag.Title = "Bio";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
        <h2>Bio.</h2>
        <ul class="box-item-bag">
            <li class="box-item">
                <p>Starting out as early as 14, Stephanie's long-term love of mixing house and electro music is evident when she plays.  Her technical prowess on the decks is seamless and the energy that she projects behind the turntables makes her perfect for the international party scene as she performs as well as plays for the crowd.  Opting for a big room house sound Staphanie's record bag can meet the demands of dance floors world wide as she is competent in all styles of music.</p>
                <p>Stephanice Jay having been passionate about music with influences including Daft Punk, Underworld, Axwell, Deep dish, Stevie Wonder and Eric Prydz.  She also features on a by weekly ministry of sound radio show, is currently in the studio creating her own music productions and singing on her own tracks, and has just mixed the HedKandi Ibiza 2012 album.</p>
                <p>Talented and beautiful she garnered her first residency at the age of 18 and has been playing clubs in London and round the world, including Pacha London & Sharm El Sheikh, Ministry of sound, Cable London, Tripod Dublin, Es Paradis Ibiza, Gatecrasher, Cocoon Frankfurt, Answer Seoul, Shakedown and Creamfields festival and many more.  She loves to get involved with the crowd often leaving the decks to join the dance floor between tunes.</p>
            </li>
        </ul>
        </div>
    </div>
</div>