@{
    ViewBag.Title = "Contact Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span9">
        <div class="box">
            <h2>Message Sent</h2>
            <p>Thank you for your message, I will respond as soon as possible.</p>
        </div>
	</div><!-- form -->
    <div class="span3">
        <div class="box">
            <h2>Contact Info.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <span>www.twitter.com/djstephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.facebook.com/djstephaniej</span>
                </li>
                <li class="box-item">
                    <span>www.mixcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.soundcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.beatport.com/artist/stephanie-jay/194092</span>
                </li>
            </ul>
        </div>
    </div>
</div><!-- container -->