@{
    ViewBag.Title = "Contact";
}

<div class="row">
		<div class="span12">
			<form method="post" action="#" id="contactform">
				<fieldset>
					<legend>Send Me a Message</legend>
					
					<div class="clearfix">
						<label for="name">
							Your Name<span class="help-required">*</span>
						</label>
						<div class="input">
							<input type="text" name="contactname" id="contactname" value="" class="span6 required" role="input" aria-required="true" />
						</div>
					</div>

					<div class="clearfix">
						<label for="email">
							Your Email<span class="help-required">*</span>
						</label>
						<div class="input">
							<input type="text" name="email" id="email" value="" class="span6 required email" role="input" aria-required="true" />
						</div>
					</div>
					
					<div class="clearfix">
						<label for="message">Message<span class="help-required">*</span></label>
						<div class="input">
							<textarea rows="8" name="message" id="message" class="span10 required" role="textbox" aria-required="true"></textarea>
						</div>
					</div>
					<div class="actions">
						<input type="submit" value="Send Your Message" name="submit" id="submitButton" class="btn primary" title="Click here to submit your message!" />
						<input type="reset" value="Clear Form" class="btn" title="Remove all the data from the form." />
					</div>
				</fieldset>
			</form>
		</div><!-- form -->
	</div><!-- row -->
</div><!-- container -->