@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="span9">
        <div class="box">
            <h2>Send Me a Message</h2>
		    <form method="post" action="#" class="form-horizontal">
			    <!--<legend>Send Me a Message</legend>-->
                <div class="control-group">
                    <label class="control-label" for="contactname">Your Name<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" id="contactname" name="contactname" class="required"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Your Email<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" id="email" name="email" class="required"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="message">Message<span class="required">*</span></label>
                    <div class="controls">
                        <textarea rows="8" id="message" name="message" class="span6 required"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send Your Message</button>
                <button type="reset" class="btn">Clear Form</button>
		    </form>
        </div>
	</div><!-- form -->
    <div class="span3">
        <div class="box">
            <h2>Contact Info.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <span>www.twitter.com/djstephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.facebook.com/djstephaniej</span>
                </li>
                <li class="box-item">
                    <span>www.mixcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.soundcloud.com/stephaniejay</span>
                </li>
                <li class="box-item">
                    <span>www.beatport.com/artist/stephanie-jay/194092</span>
                </li>
            </ul>
        </div>
    </div>
</div><!-- container -->