@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="span12">

        <div class="box">

		<form method="post" action="#" class="form-horizontal">
			<legend>Send Me a Message</legend>

            <div class="control-group">
                <label class="control-label" for="contactname">Your Name<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" id="contactname" name="contactname" class="required"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">Your Email<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" id="email" name="email" class="required"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="message">Message<span class="required">*</span></label>
                <div class="controls">
                    <textarea rows="8" id="message" name="message" class="span10 required"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Send Your Message</button>
            <button type="reset" class="btn">Clear Form</button>

		</form>

        </div>
	</div><!-- form -->
</div><!-- container -->