@{
    ViewBag.Title = "Venues";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
            <h2>Venues.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <p>During Stephanie's time behind the turntables, she has entertained crowds at many prestigious locations on the international party scene.</p>
                </li>
            </ul>
            <ul class="box-item-bag">
                <li class="box-item">
            <div class="row span8">
            <div class="thumnails">
                <div class="span2">
                    <a href="#" class="thumbnail"><img src="../../Images/Content/cable.png" alt="" /></a>
                </div>
                <div class="span2">
                    <a href="#" class="thumbnail"><img src="../../Images/Content/pacha.png" alt="" /></a>
                </div>
                <div class="span2">
                    <a href="#" class="thumbnail"><img src="../../Images/Content/pachalondon.png" alt="" /></a>
                </div>
                <div class="span2">
                    <a href="#" class="thumbnail"><img src="../../Images/Content/tibu.png" alt="" /></a>
                </div>
            </div>
            </div>
                </li>
            </ul>
        </div>
    </div>
</div>