@{
    ViewBag.Title = "Venues";
}

<div class="row-fluid">
<<<<<<< HEAD
    <div class="span2"></div>
    <div class="span12">
||||||| merged common ancestors
    <div class="span2"></div>
    <div class="span8">
=======
    <div class="span3"></div>
    <div class="span6">
>>>>>>> 1cbb0ccabd185118819fb43cded5e43571a8ab1a
        <div class="box">
            <h2>Venues.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <p>During Stephanie's time behind the turntables, she has entertained crowds at many prestigious locations on the international party scene.</p>
                </li>
            </ul>
            <ul class="box-item-bag">
                <li class="box-item">
<<<<<<< HEAD
                    <div class="row-fluid">
                        <div class="span3"><a href="http://www.cable-london.com/" class="thumbnail"><img src="../../Images/Content/cable.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.pachasharm.com/" class="thumbnail"><img src="../../Images/Content/pacha.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.pachalondon.com/" class="thumbnail"><img src="../../Images/Content/pachalondon.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.cocoon.net/club" class="thumbnail"><img src="../../Images/Content/cocoon.png" alt="" /></a></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><a href="http://www.tibubanus.com/club.php" class="thumbnail"><img src="../../Images/Content/tibu.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.creamfields.com/" class="thumbnail"><img src="../../Images/Content/creamfields.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.barastibeach.com/" class="thumbnail"><img src="../../Images/Content/barasti.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.esparadis.com/" class="thumbnail"><img src="../../Images/Content/esparadis.png" alt="" /></a></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><a href="http://www.dstrkt-london.com/" class="thumbnail"><img src="../../Images/Content/dstrkt.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.ibizarocks.com/bar/" class="thumbnail"><img src="../../Images/Content/ibizarocks.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.ibizarocks.com/hotel/" class="thumbnail"><img src="../../Images/Content/ibizarockshotel.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.jade.ch/" class="thumbnail"><img src="../../Images/Content/jade.png" alt="" /></a></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><a href="http://www.ministryofsound.com/" class="thumbnail"><img src="../../Images/Content/ministry.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.plastikibiza.com/" class="thumbnail"><img src="../../Images/Content/plastik.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.savannahibiza.com/" class="thumbnail"><img src="../../Images/Content/savannah.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.shakedown.co.uk/" class="thumbnail"><img src="../../Images/Content/shakedown.png" alt="" /></a></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><a href="http://thegeisha-shanghai.com" class="thumbnail"><img src="../../Images/Content/thegeisha.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.whiskymist.com/london" class="thumbnail"><img src="../../Images/Content/whiskeymist.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.gatecrasher.com/" class="thumbnail"><img src="../../Images/Content/gatecrasher.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.hedkandi.com/" class="thumbnail"><img src="../../Images/Content/hedkandi.png" alt="" /></a></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span3"><a href="http://www.sakurareading.com/" class="thumbnail"><img src="../../Images/Content/sakura.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.foundation-bar.co.uk/" class="thumbnail"><img src="../../Images/Content/foundation.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.atlantisthepalm.com/restaurants/barsandrestaurants/nasimibeach.aspx" class="thumbnail"><img src="../../Images/Content/nasimi.png" alt="" /></a></div>
                        <div class="span3"><a href="http://www.revolution-bars.co.uk/" class="thumbnail"><img src="../../Images/Content/revolution.png" alt="" /></a></div>
                    </div>
||||||| merged common ancestors
                <table>
                <tr><td><a href="http://www.cable-london.com/" class="thumbnail"><img src="../../Images/Content/cable.png" alt="" /></a></td><td><a href="http://www.pachasharm.com/" class="thumbnail"><img src="../../Images/Content/pacha.png" alt="" /></a></td><td><a href="http://www.pachalondon.com/" class="thumbnail"><img src="../../Images/Content/pachalondon.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.cocoon.net/club" class="thumbnail"><img src="../../Images/Content/cocoon.png" alt="" /></a></td><td><a href="http://www.tibubanus.com/club.php" class="thumbnail"><img src="../../Images/Content/tibu.png" alt="" /></a></td><td><a href="http://www.creamfields.com/" class="thumbnail"><img src="../../Images/Content/creamfields.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.barastibeach.com/" class="thumbnail"><img src="../../Images/Content/barasti.png" alt="" /></a></td><td><a href="http://www.esparadis.com/" class="thumbnail"><img src="../../Images/Content/esparadis.png" alt="" /></a></td><td><a href="http://www.dstrkt-london.com/" class="thumbnail"><img src="../../Images/Content/dstrkt.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.ibizarocks.com/bar/" class="thumbnail"><img src="../../Images/Content/ibizarocks.png" alt="" /></a></td><td><a href="http://www.ibizarocks.com/hotel/" class="thumbnail"><img src="../../Images/Content/ibizarockshotel.png" alt="" /></a></td><td><a href="http://www.jade.ch/" class="thumbnail"><img src="../../Images/Content/jade.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.ministryofsound.com/" class="thumbnail"><img src="../../Images/Content/ministry.png" alt="" /></a></td><td><a href="http://www.plastikibiza.com/" class="thumbnail"><img src="../../Images/Content/plastik.png" alt="" /></a></td><td><a href="http://www.savannahibiza.com/" class="thumbnail"><img src="../../Images/Content/savannah.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.shakedown.co.uk/" class="thumbnail"><img src="../../Images/Content/shakedown.png" alt="" /></a></td><td><a href="http://thegeisha-shanghai.com" class="thumbnail"><img src="../../Images/Content/thegeisha.png" alt="" /></a></td><td><a href="http://www.whiskymist.com/london" class="thumbnail"><img src="../../Images/Content/whiskeymist.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.gatecrasher.com/" class="thumbnail"><img src="../../Images/Content/gatecrasher.png" alt="" /></a></td><td><a href="http://www.hedkandi.com/" class="thumbnail"><img src="../../Images/Content/hedkandi.png" alt="" /></a></td><td><a href="http://www.sakurareading.com/" class="thumbnail"><img src="../../Images/Content/sakura.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.foundation-bar.co.uk/" class="thumbnail"><img src="../../Images/Content/foundation.png" alt="" /></a></td><td><a href="http://www.atlantisthepalm.com/restaurants/barsandrestaurants/nasimibeach.aspx" class="thumbnail"><img src="../../Images/Content/nasimi.png" alt="" /></a></td><td><a href="http://www.revolution-bars.co.uk/" class="thumbnail"><img src="../../Images/Content/revolution.png" alt="" /></a></td></tr>
                </table>
=======
                <table>
                <tr><td><a href="http://www.hedkandi.com/" class="thumbnail"><img src="../../Images/Content/hedkandi.png" alt="" /></a></td><td><a href="http://www.ministryofsound.com/" class="thumbnail"><img src="../../Images/Content/ministry.png" alt="" /></a></td><td><a href="http://www.pachalondon.com/" class="thumbnail"><img src="../../Images/Content/pachalondon.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.cocoon.net/club" class="thumbnail"><img src="../../Images/Content/cocoon.png" alt="" /></a></td><td><a href="http://www.pachasharm.com/" class="thumbnail"><img src="../../Images/Content/pacha.png" alt="" /></a></td><td><a href="http://www.savannahibiza.com/" class="thumbnail"><img src="../../Images/Content/savannah.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.cable-london.com/" class="thumbnail"><img src="../../Images/Content/cable.png" alt="" /></a></td><td><a href="http://www.tibubanus.com/club.php" class="thumbnail"><img src="../../Images/Content/tibu.png" alt="" /></a></td><td><a href="http://www.creamfields.com/" class="thumbnail"><img src="../../Images/Content/creamfields.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.barastibeach.com/" class="thumbnail"><img src="../../Images/Content/barasti.png" alt="" /></a></td><td><a href="http://www.esparadis.com/" class="thumbnail"><img src="../../Images/Content/esparadis.png" alt="" /></a></td><td><a href="http://www.dstrkt-london.com/" class="thumbnail"><img src="../../Images/Content/dstrkt.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.ibizarocks.com/bar/" class="thumbnail"><img src="../../Images/Content/ibizarocks.png" alt="" /></a></td><td><a href="http://www.ibizarocks.com/hotel/" class="thumbnail"><img src="../../Images/Content/ibizarockshotel.png" alt="" /></a></td><td><a href="http://www.jade.ch/" class="thumbnail"><img src="../../Images/Content/jade.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.shakedown.co.uk/" class="thumbnail"><img src="../../Images/Content/shakedown.png" alt="" /></a></td><td><a href="http://thegeisha-shanghai.com" class="thumbnail"><img src="../../Images/Content/thegeisha.png" alt="" /></a></td><td><a href="http://www.whiskymist.com/london" class="thumbnail"><img src="../../Images/Content/whiskeymist.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.gatecrasher.com/" class="thumbnail"><img src="../../Images/Content/gatecrasher.png" alt="" /></a></td><td><a href="http://www.sakurareading.com/" class="thumbnail"><img src="../../Images/Content/sakura.png" alt="" /></a></td><td><a href="http://www.plastikibiza.com/" class="thumbnail"><img src="../../Images/Content/plastik.png" alt="" /></a></td></tr>
                <tr><td><a href="http://www.foundation-bar.co.uk/" class="thumbnail"><img src="../../Images/Content/foundation.png" alt="" /></a></td><td><a href="http://www.atlantisthepalm.com/restaurants/barsandrestaurants/nasimibeach.aspx" class="thumbnail"><img src="../../Images/Content/nasimi.png" alt="" /></a></td><td><a href="http://www.revolution-bars.co.uk/" class="thumbnail"><img src="../../Images/Content/revolution.png" alt="" /></a></td></tr>
                </table>
>>>>>>> 1cbb0ccabd185118819fb43cded5e43571a8ab1a
                </li>
            </ul>
        </div>
    </div>
</div>