@{
    ViewBag.Title = "Venues";
}

<div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">
        <div class="box">
            <h2>Venues.</h2>
            <ul class="box-item-bag">
                <li class="box-item">
                    <p>During Stephanie's time behind the turntables, she has entertained crowds at many prestigious locations on the international party scene.</p>
                </li>
            </ul>
            <ul class="box-item-bag">
                <li class="box-item">
                <table>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/cable.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/pacha.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/pachalondon.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/cocoon.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/tibu.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/creamfields.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/barasti.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/esparadis.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/dstrkt.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/ibizarocks.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/ibizarockshotel.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/jade.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/ministry.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/plastik.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/savannah.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/shakedown.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/thegeisha.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/whiskeymist.png" alt="" /></a></td></tr>
                <tr><td><a href="#" class="thumbnail"><img src="../../Images/Content/gatecrasher.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/hedkandi.png" alt="" /></a></td><td><a href="#" class="thumbnail"><img src="../../Images/Content/sakura.png" alt="" /></a></td></tr>
                </table>
                </li>
            </ul>
        </div>
    </div>
</div>