/* ============================================================
    Sections
============================================================ */
/*USED*/

body {
    font-family: Lucida Sans Unicode, Lucida Grande, Lucida Sans, Lucida Console, Calibri, sans-serif;
   -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
	background:#000;
	color:#FFFFFF; 
	font-size:13px;
	background-color:#222 !important;
}

html { margin:0; padding:0; }

a { color:#7df; text-decoration:none; cursor:pointer; font-size:12pt;  }
a:hover { color:white; }

.clear { clear:both; }
.green { color:#b9e753; }
.green:hover { color:#cfef87; }
.white { color:#FFFFFF; }
.white:hover { 
	animation: togreen 0.2s;
	-moz-animation: togreen 0.2s; /* Firefox */
	-webkit-animation: togreen 0.2s; /* Safari and Chrome */
	color:#b9e753; 
}
.left { float:left; }
.right { float:right; }

legend { color: White; }




#loading { width:32px; height:32px; position:absolute; top:100px; left:100px; z-index:999; display:none; }

#main-content { background:#111113 url(../Images/Content/bg4.jpg) no-repeat center top; width:100%; display:table; padding-top:20px; }
#logo { height:150px; background:url(../Images/Content/logo.png) no-repeat center; margin-top:45px; display:block; }
#nav-wrap { height:40px; background-color:#111; border-top:1px #333 solid; border-bottom:1px #333 solid; }
#nav { margin:0 auto; padding:0px 20px 0px 20px; text-align:center; }
#nav a { display:inline-block; width:40px; padding-left:10px; padding-right:10px; line-height:40px; text-transform:uppercase; }

.center { text-align: center; } 

#dp_swf_engine { display:none; }

/*Footer*/
#footer { background:#000 url(../Images/Content/equalizer2.png) repeat-x center bottom; border-top:1px solid #292929; padding-top:30px; height:250px; }
#footer .section {  height: 200px; } 
#footer .section .item {clear:left; }
#footer .section .item img { width:32px; height:32px; float:left; }

/*Content Box*/
.box { box-shadow: 0px 0px 20px rgba(0,0,0,0.6); background: #222 url(../Images/Icons/heart-18x18.png) no-repeat top right; margin-bottom: 20px; padding:10px; }
.box h2 { text-transform:uppercase; color:#7df; padding:0; margin:0; line-height: 24px; margin-bottom:10px; }
.box h3 { color: #bbb; line-height:18px; margin-bottom: 5px; }
.box .box-item-bag { list-style-type: none; padding:0; margin:0; }
.box .box-item, .box ul#news li { border-top: 1px solid #333; padding-top:10px; padding-bottom:10px; }   
.box .box-item-image { padding-left:10px; padding-right:10px; float:left; }

/*Validation*/
span.required { color:Fuchsia; }

/*Table*/
.table tbody tr:hover td,
.table tbody tr:hover th { background-color: transparent; }
.table thead th { color: #7df; }




/*TODO*/
ul#news .parss-title a { color:#BBB }

/*Twitter*/
/* styling for the twitter feed scroll */
.tweetContainer {
    height: 21.6em; /* total visible tweets, in this case set to 5 */ 
    overflow: hidden; /*keep tweets outside of the container from being seen */
}
#tweetlist {
    position: relative;
    top: -80px; /* allows a tweet to be moved into hidden space before scrolling into view */
    margin: 0px;
    padding: 0px;
}
#tweetlist a {
    font-size: 10pt;
}
.tweetImage {
    float: left;
    padding-right: 10px;
}
.tweet 
{
    height:60px;
}



/*Section*/
.section h2 { text-transform:uppercase; }
.section item { }

/*Carousel Additions (Bootstrap)*/
.carousel { background:#000; }
.carousel .item > img { margin: 0 auto; }

#hearts { position:absolute; top:20px; right:10px; }
.heart { display:block; height:18px; width:21px; background-image:url(../images/Content/heart.png); float:left; margin-right:6px; }
.heart-active { background-position:0 -18px; } 