/* styling for the twitter feed scroll */
.tweetContainer {
    height: 21.6em; /* total visible tweets, in this case set to 5 */ 
    overflow: hidden; /*keep tweets outside of the container from being seen */
}
#tweetlist {
    position: relative;
    list-style-type: none;
    top: -6em; /* allows a tweet to be moved into hidden space before scrolling into view */
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
.tweetImage {
    float: left;
    padding-right: 1em;
    padding-left: 1em;
}
.tweet {
    height: 6em;
    padding-top: 0.3em;
    font-size: 0.9em;
    border-bottom: 1px solid #333333;
}
