@{
    ViewBag.Title = "Gigs";
}

<div class="row">
    <div class="span12">


        <div class="box">

            <table class="table">
                <thead>
                    <tr>
                        <th>Date.</th>
                        <th>Gig.</th>
                        <th>City.</th>
                        <th>Country.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test1</td>
                        <td>test2</td>
                        <td>test3</td>
                        <td>test4</td>
                    </tr>
                    <tr>
                        <td>test1</td>
                        <td>test2</td>
                        <td>test3</td>
                        <td>test4</td>
                    </tr>
                    <tr>
                        <td>test1</td>
                        <td>test2</td>
                        <td>test3</td>
                        <td>test4</td>
                    </tr>
                </tbody>
            </table>

        </box>

       
    </div>
</div>

